<%- include("partials/header.ejs") %>
  <div class="game-wrapper">
    <section id="scoreboard">
      <div class="scoreboard-container">
        <div class="scoreboard-header">
          <h2>Score</h2>
        </div>
        <hr />
        <div class="scorecard"></div>
      </div>
    </section>
    <section id="banner">
      <div class="banner-content">
        <% if (locals.gameType) { %>
          <h1>Play <%= gameType.toUpperCase() %>
          </h1>
          <% } %>
      </div>
    </section>
    <section id="middle" class="<%= gameType %>">
      <div class="middle-flex">
        <!-- Dice Game -->
        <% if (locals.gameType==="dice" ) { %>
          <div class="begin-content">
            <h2>Choose number of players</h2>
            <div class="number-of-players">
              <button type="button" class="btn playersButton">One</button>
              <button type="button" class="btn playersButton">Two</button>
              <button type="button" class="btn playersButton">Three</button>
              <button type="button" class="btn playersButton">Four</button>
            </div>
          </div>
          <div class="play-content">
            <h1>Roll Dice</h1>
            <div class="roll-buttons">
              <button type="button" class="btn btn-roll">Roll</button>
              <button type="button" class="btn btn-restart">Reset</button>
            </div>
          </div>
          <% } %>
      </div>
    </section>
  </div>
  <footer>
    <% if (locals.gameType==="dice" ) { %>
      <script src="/scripts/dice.js"></script>
      <% } %>
  </footer>
  <%- include("partials/footer.ejs") %>
