<%- include("partials/header.ejs") %>
  <div class="wrapper">
    <!-- Healthbar -->
    <div class="healthbar">
      <div class="health">
        <div class="heart"></div>
        <div class="health-max"></div>
        <div class="health-level"></div>
      </div>
      <div class="mana">
        <div class="diamond"></div>
        <div class="mana-max"></div>
        <div class="mana-level"></div>
      </div>
    </div>
    <section id="hero">
      <div class="hero-container">
        <h1 class="welcome">Welcome</h1>
        <h2>Click <u>Start</u> Begin</h2>
      </div>
    </section>
    <!-- Buttons -->
    <div class="buttons">
      <a class="btn" href="navigation">Start</a>
      <button type="button" class="btn">Menu</button>
    </div>
  </div>
<%- include("partials/footer.ejs") %>
