<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>GameHub - Choose Your Game</title>
  <link href="https://db.onlinewebfonts.com/c/82b778d1b069157bf6b2e32dc4e1e3f1?family=Neue+Machina" rel="stylesheet" />
  <link href="/assets/css/style.css" rel="stylesheet" />
</head>

<body>
  <div class="choice-wrapper">
    <div class="choice-header">
      <h1>Choose Your Game</h1>
    </div>
    <div class="game-cards-grid">
      <div class="game-card">
        <img src="./assets/images/dice.jpg" alt="Dice Image" />
        <h3>Memory Game</h3>
        <p>A memory testing game.</p>
      </div>
      <div class="game-card">
        <img src="./assets/images/dice.jpg" alt="Dice Image" />
        <h3><a href="./dice.html">Dice Game</a></h3>
        <p>A memory testing game.</p>
      </div>
      <div class="game-card">
        <img src="./assets/images/dice.jpg" alt="Dice Image" />
        <h3>Coming Soon</h3>
        <p>Coming Soon</p>
      </div>
    </div>
  </div>
</body>

</html>
