<%- include("partials/header.ejs") %>
  <div class="choice-wrapper">
    <div class="choice-header">
      <h1>Choose Your Game</h1>
    </div>
    <div class="game-cards-grid">
      <div class="game-card">
        <img src="images/coming-soon.jpg" alt="Memory Game Image" />
        <h3>Memory Game</h3>
        <p>A memory testing game.</p>
      </div>
      <div class="game-card">
        <img src="images/dice.jpg" alt="Dice Image" />
        <h3><a href="dice">Dice Game</a></h3>
        <p>A memory testing game.</p>
      </div>
      <div class="game-card">
        <img src="images/coming-soon.jpg" alt="Coming Soon Image" />
        <h3>Coming Soon</h3>
        <p>Coming Soon</p>
      </div>
    </div>
  </div>
<%- include("partials/footer.ejs") %>
