/**/
/* Global */
/**/
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
}



/**/
/* Grid Wrapper */
/**/
.game-wrapper {
  background-color: #74A050;
  font-family: "Neue Machina";
  height: 100svh;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  display: grid;
  grid-template:
    "scoreboard banner dice-container"
    "scoreboard center-container dice-container"
    "scoreboard center-container dice-container"
    "scoreboard footer dice-container";
}

/**/
/* Grid Areas */
/**/

/* Banner Section */
.banner {
  grid-area: banner;
  /* display: none; */
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scoreboard Section */
.scoreboard {
  grid-area: scoreboard;
}

.scoreboard-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

/* Center Container */
.center-container {
  grid-area: center-container;
}

.center-container {
  border: 14px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

/* .container-fixed { */
/*   border: 14px solid #fff; */
/*   width: 630px; */
/*   height: 190px; */
/*   /* padding: 10rem; */
*/
/* } */

.number-of-players,
.roll-buttons {
  display: flex;
  justify-content: space-around;
}

/* Buttons */
/* .buttons { */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/*   margin-top: 60px; */
/*   gap: 8rem; */
/* } */

.btn {
  background-color: #507335;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-family: "Neue Machina";
  border-radius: 12px;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(80, 115, 53, 0.74), 0 17px 50px 0 rgba(80, 115, 53, 0.19);
}

/* Dice Container */
.dice-container {
  grid-area: dice-container;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 5px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

/* Die Number */
.dice-dot {
  --top: 0%;
  --left: 0%;
  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;
  /* Dot Positioning */
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
}

/* Footer */
.footer {
  grid-area: footer;
}


.popup, .player1, .player2, .player3, .player4 {
  /* display: none; */
}

.play-content {
  display: none;
}


/**/
/**/
/**/
/**/
/**/
/* /* Dice Container */
/* .dice.number-of-players {
  display: flex;
  justify-content: space-around;
}-container { */
/*   display: flex; */
/* } */

/**/
/* /* Button */
/* .btn-roll-dice { */
/*   margin-top: 10px; */
/* } */
