/**/
/* Global */
/**/
body {
  margin: 0;
  padding: 0;
  background-color: #74a050;
  font-family: "Neue Machina";
}

h1 {
  font-size: 3rem;
}

/**/
/* Game Grids */
/**/
.game-wrapper {
  display: grid;
  margin: 20px;
  grid-template:
    "scoreboard banner dice-container"
    "scoreboard middle dice-container";
}

.banner {
  grid-area: banner;
  /* margin-bottom: 50px; */
}

.dice-container {
  grid-area: dice-container;
}

.middle {
  grid-area: middle;
  /* border: 10px #fff solid; */
  padding: 10px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  grid-area: scoreboard;
}

/* Banner Section */
.banner-content {
  display: flex;
  justify-content: center;
}

/* Scoreboard Section */
.scoreboard-header {
  /* padding: 20px; */
  display: flex;
  justify-content: center;
}

.scoreboard-header h2 {
  margin-bottom: 0;
}

hr {
  color: white;
  border-top-width: 0;
  border-bottom-width: 5px;
}

.scorecard {
  /* background-color: blue; */
}

.scoreboard-container {
  visibility: hidden;
}

/* Middle container */
.middle-flex {
  border: 10px #fff solid;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 670px;
  height: 216px;
}

.number-of-players,
.roll-buttons {
  display: flex;
  justify-content: space-around;
}

.play-content {
  display: none;
}

.begin-content {
  /* display: none; */
}

.begin-content,
.play-content {
  /* visibility: hidden; */
  align-content: center;
  text-align: center;
  width: 100%;
}

/* Buttons */

.btn {
  background-color: #507335;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-family: "Neue Machina";
  border-radius: 12px;
}

.btn:hover {
  box-shadow:
    0 12px 16px 0 rgba(80, 115, 53, 0.74),
    0 17px 50px 0 rgba(80, 115, 53, 0.19);
}

/* Trivia */
.middle-flex.trivia{
  flex-direction: column;
  text-align: center;
}
.trivia-choices {
  display: flex;
  justify-content: space-evenly;
}
.btn.trivia{
  padding: 15px 18px;
  font-size: 18px;
}
.scoreboard-container.trivia{
  visibility: visible;
}